html{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size:xx-large;
    background-blend-mode: luminosity;
    background: linear-gradient(300deg,chartreuse, #ff4c68, yellow );
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
form{
    position:relative;
    left:40%;
    top:20%;
    padding-top: 15%;
}
input{
    border-radius: 7px;
    margin:18px;
    border-bottom:3px solid black;
    /* height:5%;
    width:10%; */

}
.submit {
    position:relative;
    left:8%;
    margin-top: 25px;
    border-radius: 27px;
    color:white;
    background-color: #0A1D56;
    border:none;
    padding:14px;
    font-size: x-large;
}
::placeholder {
    font-size:20px; /* Adjust the font size as needed */
    color:#0A1D56;
  }
  input, select , option{
    font-size: x-large;
    height:5%;
  }